<EditForm Model="registerRequest" OnValidSubmit="HandleValidSubmit" AdditionalAttributes="FormStyles">
    <DataAnnotationsValidator />
    <h1>Welcome!</h1>
    <div class="soc-network">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-google"></i>
        <i class="fa fa-twitter"></i>
    </div>
    <label for="@registerRequest.UserName">Username</label>
    <div class="input-icon">
        <i class="fa fa-user"></i>
        <InputText @bind-Value="registerRequest.UserName" AdditionalAttributes="InputStyles" />
    </div>
    <ValidationMessage For="@(() => registerRequest.UserName)" AdditionalAttributes="ValidationStyles" />

    <label for="@registerRequest.Password">Password</label>
    <div class="input-icon">
        <i class="fa fa-unlock-alt"></i>
        <InputText @bind-Value="registerRequest.Password" AdditionalAttributes="InputStyles" />
    </div>
    <ValidationMessage For="@(() => registerRequest.Password)" AdditionalAttributes="ValidationStyles" />

    <label for="@registerRequest.PasswordConfirm">Confirm Password</label>
    <div class="input-icon">
        <i class="fa fa-unlock-alt"></i>
        <InputText @bind-Value="registerRequest.PasswordConfirm" AdditionalAttributes="InputStyles" />
    </div>
    <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" AdditionalAttributes="ValidationStyles" />

    <div class="btn-wrp">
        <button type="submit">Sign Up</button>
    </div>
    <p class="signup-text">
        Already exist an account?
        <a @onclick="RedirectToLogin">Sign in</a>
    </p>
</EditForm>

@code {
    private System.Collections.Generic.Dictionary<string, object> InputStyles = new System.Collections.Generic.Dictionary<string, object> { ["style"] = @"
        width: 100%;
        font-size: 1.1em;
        background-color: #F0F0F0;
        border: none;
        border-bottom: 1px solid #888;
        padding: 0.2em 1.5em;
        margin: 0.5em 0;" };
    private System.Collections.Generic.Dictionary<string, object> FormStyles = new System.Collections.Generic.Dictionary<string, object>
    {
        ["style"] = @"margin: 14em auto;width: 20em;",
        ["class"] = "right login-form"
    };
    private System.Collections.Generic.Dictionary<string, object> ValidationStyles = new System.Collections.Generic.Dictionary<string, object>
    {
        ["style"] = "color: #ff7700;font-size: 0.8em;"
    };
} 