@using ReadItLater.Web.Client.Services

@if (Context.Type == StateType.Add || Context.Type == StateType.Edit)
{
    <div class="sub-menu">
        <div class="close" @onclick="(e => CloseForm(false))">
            <i class="fa fa-close"></i>
        </div>
        @if (Context.Type != StateType.Edit)
        {
            <input type="text" @bind="url" placeholder="url" />
            <button @onclick="Add">
                Add&nbsp;
                @if (isLoading)
                {
                    @Loading();
                }
            </button>
        }

        @if (!model?.IsDefault ?? false)
        {
            <div class="info-block">
                <img src="@model.Image" style="width:100%" />
                @if (string.IsNullOrEmpty(model.Image))
                {
                    <input type="text" @bind="model.Image" />
                    <i class="fa fa-plus" @onclick="UploadImage"></i>
                }
                <textarea rows="4" @bind="model.Title">@model.Title</textarea>
                <div class="one-line">
                    <select @bind="model.FolderId" class="folder-select">
                        @foreach (var item in folders)
                        {
                            <option value="@item.Id">@item.Name</option>

                            if (item.Folders?.Any() ?? false)
                            {
                                foreach (var nested in item.Folders)
                                {
                                    <option value="@nested.Id">@($"- {nested.Name}")</option>
                                }
                            }
                        }
                    </select>
                    <select @bind="model.Priority" class="priority-select">
                        @foreach (var item in PriorityOptions)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div class="tag-section">
                    <div class="one-line">
                        <input type="text" value="@tag" @oninput="AutofillTags" placeholder="tag" />
                        <i class="fa fa-plus" @onclick="AddTag"></i>
                    </div>
                    @if (autofilledTags != null && autofilledTags.Any())
                    {
                        <div class="tag-exists" style="border-bottom: 1px solid #e4e4e4;">
                            @foreach (var item in autofilledTags)
                            {
                                <div class="badge">
                                    <p>#@item.Name</p>
                                    <i class="fa fa-plus" @onclick="@(e => AddTagByName(item.Name))"></i>
                                </div>
                            }
                        </div>
                    }
                    <div class="tag-exists">
                        @if (model.Tags?.Any() ?? false)
                        {
                            foreach (var item in model.Tags)
                            {
                                <div class="badge">
                                    <p>#@item.Name</p>
                                    <i class="fa fa-close" @onclick="@(e => DeleteTag(item.Name))"></i>
                                </div>
                            }
                        }
                    </div>
                </div>
                <textarea rows="4" @bind="model.Note" placeholder="Notes">@model.Note</textarea>
                @if (Context.Type == StateType.Edit)
                {
                    <button @onclick="Update">Update</button>
                    <button class="btn-delete" @onclick="Delete">Delete</button>
                }
                else
                {
                    <button @onclick="Create">Create</button>
                }
            </div>
        }
    </div>
}